# **Basics**

In [12]:
# Imports
import random
import sys
import os

print("Hello World")

# Comments
'''
Multiline  Comments
'''

# Variables
name = "Sarvesh"
print(name)

# Data Types : Numbers, Strings, Lists, Tuples, Dictionaries


# Arithmetic Operators : +, -, *, /, %(modulo), **(power), //(floor division)
print("2 + 2 =", 2+2)
print("2 - 2 =", 2-2)
print("2 * 2 =", 2*2)
print("2 / 2 =", 2/2)
print("2 % 2 =", 2%2)
print("2 ** 2 =", 2**2)
print("2 // 2 =", 2//2)

# Order of Operator matters : *,/ before +,-
# Braces
print("3 + 2 - 5 * 8 / 2 =", 3 + 2 - 5 * 8 / 2)
print("(3 + 2 - 5) * (8 / 2) =", (3 + 2 - 5) * (8 / 2))

# String - Single or double quotes. Backlash if quote needs to be added inside string
# Use underscores for multi word variable names. eg: multi_line_quote
quote = "from Steve Jobs : \""

multi_line_quote = '''Everybody should learn to program a computer,
because it teaches you how to think.'''

new_string = quote + multi_line_quote

# String formatting
print("%s %s%s" %('This is a quote', quote, multi_line_quote))

# Newline  formatting. \n for newline
print("\n")
# Set end to desired string to replace newline at the end while using print
print("Printing without ", end="")
print("newlines")

Hello World
Sarvesh
2 + 2 = 4
2 - 2 = 0
2 * 2 = 4
2 / 2 = 1.0
2 % 2 = 0
2 ** 2 = 4
2 // 2 = 1
3 + 2 - 5 * 8 / 2 = -15.0
(3 + 2 - 5) * (8 / 2) = 0.0
This is a quote from Steve Jobs : "Everybody should learn to program a computer,
because it teaches you how to think.


Printing without newlines

# **Lists**

In [37]:
grocery_list = ['Eggs','Bananas','Apples', 'Bread','Milk','Onions']

# Print second item in list
print("Second Item", grocery_list[1])

# Update value in list
grocery_list[1] = "Cheese"
print("Second Item", grocery_list[1])

# Print subset of list. (Inclusive and exclusive of lower and upper bound respectively)
print(grocery_list[2:4])

# List of List
other_items = ['Soap', 'Shampoo', 'Donuts']
to_do_list = [other_items, grocery_list]
print(to_do_list)

# Access second item from second list
print((to_do_list[1][2]))

# Append to list
grocery_list.append('Tomatoes')
print(to_do_list)

# Insert at index
grocery_list.insert(1,"Orange Juice")
print(grocery_list)

# Remove by value
grocery_list.remove("Orange Juice")
print(grocery_list)

# Sort
grocery_list.sort()

# Reverse
grocery_list.reverse()

# Delete at specific index
del grocery_list[3]

print(to_do_list)

# Combine list like strings
to_do_list2 = other_items + grocery_list
print(to_do_list2)

# Length, Minimum and Maximum in List
print(len(to_do_list2))
print(max(to_do_list2))
print(min(to_do_list2))

Second Item Bananas
Second Item Cheese
['Apples', 'Bread']
[['Soap', 'Shampoo', 'Donuts'], ['Eggs', 'Cheese', 'Apples', 'Bread', 'Milk', 'Onions']]
Apples
[['Soap', 'Shampoo', 'Donuts'], ['Eggs', 'Cheese', 'Apples', 'Bread', 'Milk', 'Onions', 'Tomatoes']]
['Eggs', 'Orange Juice', 'Cheese', 'Apples', 'Bread', 'Milk', 'Onions', 'Tomatoes']
['Eggs', 'Cheese', 'Apples', 'Bread', 'Milk', 'Onions', 'Tomatoes']
[['Soap', 'Shampoo', 'Donuts'], ['Tomatoes', 'Onions', 'Milk', 'Cheese', 'Bread', 'Apples']]
['Soap', 'Shampoo', 'Donuts', 'Tomatoes', 'Onions', 'Milk', 'Cheese', 'Bread', 'Apples']
9
Tomatoes
Apples

# **Tuple**

In [17]:
# Tuple : Similar to List except it is immutable and surrounded by '()' insted of '[]'

e_tuple = (2, 7, 1, 8, 2, 6)

# Changing tuple by converting to list and changing it back Tuple after modification
new_tuple = list(e_tuple)
new_list = tuple(new_tuple)

# Length, Minimum and Maximum are same as list
print(len(e_tuple))
print(min(e_tuple))
print(max(e_tuple))

6
1
8

# **Dictionary/Maps**

In [38]:
# Dictionary : Uses curly braces
character_cast = {'Dave Bowman' : 'Keir Dullea',
                  'Frank Poole' : 'Gary Lockwood',
                  'Heywood Floyd' : 'William Sylvester',
                  'Elena' : 'Margaret Tyzack',
                  'Ralph Halvorsen' : 'Robert Beatty',
                  'HAL 9000': 'Sean Sullivan'
                  }

# Access value against key
print(character_cast['Frank Poole'])

# Delete specific key value pair by key
del character_cast['Heywood Floyd']

# Update value against key
character_cast['HAL 9000'] = 'Douglas Rain'

# Length of dictionary
print(len(character_cast))

# Get value against a key
print(character_cast.get("HAL 9000"))

# Get list of keys
print(character_cast.keys())

# Get list of values
print(character_cast.values())

Gary Lockwood
5
Douglas Rain
dict_keys(['Dave Bowman', 'Frank Poole', 'Elena', 'Ralph Halvorsen', 'HAL 9000'])
dict_values(['Keir Dullea', 'Gary Lockwood', 'Margaret Tyzack', 'Robert Beatty', 'Douglas Rain'])

# **Conditionals**

In [21]:
# Conditionals
# Conditional Construct : if, else, elif
# Relational Operator : == != > >= <=
# Boolean Operator : and, or, not

grade = 75

if grade > 39 :
  print('You have passed the exam.')
else :
  print('You have failed the exam.')

if grade >= 90 :
  print("Your grade is A")
elif grade >= 40 :
  print('Your grade is B')
else:
  print("Your grade is C")

if ((grade >=80) and (grade <= 99)) :
  print("Your new grade is A")
elif (grade == 40) or (grade > 40):
  print("Your new grade is B")
elif not(grade != 100):
  print("Your new grade is S")
else:
  print("You new grade is C ")

You have passed the exam.
Your grade is B
Your new grade is B

# **For Loop**

In [ ]:
# For loop
# Range is inclusive and exclusive of lower and upper bound respectively
for x in range(0, 10):
  print(x, ' ', end="")

print('\n')

grocery_list = ['Juice', 'Tomatoes', 'Potatoes', 'Bananas']

# Looping over list
for y in grocery_list:
  print(y)

for x in [2, 4, 6, 8, 10]:
  print(x)

# Looping over nested list
num_list = [[1,2,3],[10,20,30],[100,200,300]]

for x in range(0,3):
  for y in range(0,3):
    print(num_list[x][y])

# **While Loop**

In [22]:
# While loop

random_num = random.randrange(0,100)
while(random_num != 15):
  print(random_num)
  random_num = random.randrange(0,100)

# Use while loop like for loop

i = 0
while(i <= 45):
  if(i%2 == 1):
    print(i)
  elif(i == 15):
    break
  else:
    i += 1
    continue
  i += 1

42
79
46
45
61
39
18
45
56
30
34
51
80
80
21
25
75
21
79
66
95
35
56
25
98
64
97
50
38
60
7
38
68
2
19
96
61
44
11
31
17
69
75
69
87
32
71
26
46
31
10
17
11
77
1
55
82
4
81
77
48
91
82
90
41
48
8
45
26
52
84
71
99
91
51
51
96
86
51
82
64
88
84
29
54
50
80
97
98
23
7
50
79
83
52
4
90
1
89
96
90
81
26
8
21
86
51
21
4
72
46
66
21
57
41
81
80
98
29
56
68
72
19
31
44
35
38
85
91
69
19
11
86
12
46
98
52
44
55
58
78
14
61
4
20
96
69
72
70
40
89
70
56
27
9
42
83
53
76
48
12
86
89
16
73
32
5
41
90
37
84
57
76
71
71
74
87
85
60
89
10
7
21
52
54
11
66
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45

# **Functions**

In [23]:
def addNumberPlusOne(fNum, lNum):
  sumNum = fNum + lNum + 1
  return sumNum

result = addNumberPlusOne(2,2)
print(result)

5

# **Input & Strings**

In [31]:
print('What is your name')

name = sys.stdin.readline()

print('Hello', name)

long_string = "Value of Euler's number is 3.14"

# Print first 4 characters
print(long_string[0:4])

# Print last 5 characters
print(long_string[-5:])

# Print upto last 5 characters
print(long_string[:-5])

# Concatenate Strings
print(long_string[:5] + " of Euler's number is 2.7182818")

# String formatting for character, string, integer, float
print("Value of %c is %.5f and it is a %s number" % ('π', 3.14159265358, 'real'))

# Capitalize string
print(long_string.capitalize())

# Find match in string
print(long_string.find("Euler's"))

# Is String Alphanumeric
print(long_string.isalnum())

# Length of string
print(len(long_string))

# Replace match in string
print(long_string.replace("Euler's number", "pi"))

# Strip Whitespace
print(long_string.strip())

# Split string
quote_list = long_string.split(" ")
print(quote_list)

What is your name
Hello
Valu
 3.14
Value of Euler's number is
Value of Euler's number is 2.7182818
Value of π is 3.14159 and it is a real number
Value of euler's number is 3.14
9
False
31
Value of pi is 3.14
Value of Euler's number is 3.14
['Value', 'of', "Euler's", 'number', 'is', '3.14']

# **File IO**

In [39]:
# File Mode : wb to write, ab+ to read & append to file (Also creates and opens the file)

# Writing to file
test_file = open("test.txt", "wb")

print(test_file.mode)
print(test_file.name)

test_file.write(bytes("Hi! This is first and the only line in this txt\n",'UTF-8'))

test_file.close()

# Open file
test_file = open("test.txt","r+")

# Read file
text_in_file = test_file.read()
print(text_in_file)

# Delete file
os.remove("test.txt")

wb
test.txt
Hi! This is first and the only line in this txt

# **Objects**

In [40]:
# Class :
# 1. __ makes the variable private
# 2. 'self' is used to refer to the object itself.
# 3. Constructor initializes the object

class Animal:
  __name = ""
  __height = 0
  __weight = 0
  __sound = 0

  def __init__(self, name, height, weight, sound):
    self.__name = name
    self.__height = height
    self.__weight = weight
    self.__sound = sound

  def set_name(self, name):
    self.__name = name

  def get_name(self):
    return self.__name

  def set_height(self, height):
    self.__height = height

  def get_height(self):
    return self.__height

  def set_weight(self, weight):
    self.__weight = weight

  def get_weight(self):
    return self.__weight

  def set_sound(self, sound):
    self.__sound = sound

  def get_sound(self):
    return self.__sound

  def get_type(self):
    print("Animal")

  def toString(self):
    return "{} is {} cm tall and {} kilograms and say {}".format(self.__name,
                                                                 self.__height,
                                                                 self.__weight,
                                                                 self.__sound)

cat = Animal('Whiskers', 33, 10, 'Meow')
print(cat.toString())

# Inheritance
class Dog(Animal):
  __owner = ""

  def __init__(self, name, height, weight, sound, owner):
    self.__owner = owner
    super(Dog, self).__init__(name, height, weight, sound)

  def set_owner(self, owner):
    self.__owner = owner

  def get_owner(self):
    return self.__owner

  def get_type(self):
    print("Dog")

  def toString(self):
    return "{} is {} cm tall and {} kilograms and say {}. His owner is {}".format(self.get_name(),
                                                                                  self.get_height(),
                                                                                  self.get_weight(),
                                                                                  self.get_sound(),
                                                                                  self.get_owner())

  def multiple_sounds(self, how_many=None):
    if how_many is None:
      print(self.get_sound())
    else:
      print(self.get_sound() * how_many)

spot = Dog("Jonny", 53, 27, "Ruff", "Colin")
print(spot.toString())

class AnimalTesting:
  def get_type(self, animal):
    animal.get_type()

test_animals = AnimalTesting()

test_animals.get_type(cat)
test_animals.get_type(spot)

spot.multiple_sounds(4)
spot.multiple_sounds()

Whiskers is 33 cm tall and 10 kilograms and say Meow
Jonny is 53 cm tall and 27 kilograms and say Ruff. His owner is Colin
Animal
Dog
RuffRuffRuffRuff
Ruff